/* Leturgerð */
h1 {
    font-size: 70px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-align: center;
    filter: drop-shadow(0 0 5px black);
    color: white;
    margin-bottom: 25rem;
    margin-top: 10rem;
}
h2 {
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-align: center;
    filter: drop-shadow(0 0 5px black);
    margin-bottom: 50px;
}
h3 {
    font-size: 30px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-align: center;
}


/* Takki */
.stor-takki {
    display: block;
    border-radius: 1rem;
    width: 400px;
    margin: 2rem auto;
    padding: 60px 1rem; /* til að stækka kassann*/
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; /* hástafir*/
    background-color: rgb(65, 136, 195, 0.85);
    margin-bottom: 150px;
}
.stor-takki:hover {
    filter: drop-shadow(0 0 5px black);
}
.stor-takki:active {
    color: white;
}


/* Myndband af sjó */
#bg-video,
#bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -10;
}
#bg-image {
    z-index: -20;
}
.content {
    display: block;
    margin: 0px auto;
    width: 50vw;
    min-width: 280px;
    color: white;
}